<template>
  <div class="murr-battle-scene">
    <div class="murr-battle-scene__player-card_gif"></div>
    <div
      class="murr-battle-scene__enemy-place"
      :class="{
        shakeAnimation: shakeAnimationTrigger,
        shakeAnimation1: shakeAnimationTrigger1,
      }"
    >
      <div class="murr-battle-scene__player-card">
        <img
          class="murr-battle-scene__player-card_gif"
          v-for="(skill, index) in this.isAttack"
          :key="index"
          :src="skill.gif"
          alt=""
        />
        <div
          class="murr-battle-scene__player-card_avatart"
          :style="{
            backgroundImage: `url(${
              this.context.murrens_in_ws_data.find(
                (x) => x.murren_id !== this.$store.getters.murrenId_getters
              ).murren_avatar
            })`,
          }"
        ></div>
        <div class="murr-battle-scene__player-card_name">
          {{
            this.context.murrens_in_ws_data.find(
              (x) => x.murren_id !== this.$store.getters.murrenId_getters
            ).murren_name
          }}
        </div>
      </div>
    </div>

    <div class="murr-battle-scene__murren-place">
      <div class="murr-battle-scene__player-card">
        <div
          class="murr-battle-scene__player-card_avatart"
          :style="{
            backgroundImage: `url(${
              this.context.murrens_in_ws_data.find(
                (x) => x.murren_id === this.$store.getters.murrenId_getters
              ).murren_avatar
            })`,
          }"
        ></div>
        <div class="murr-battle-scene__player-card_name">
          {{
            this.context.murrens_in_ws_data.find(
              (x) => x.murren_id === this.$store.getters.murrenId_getters
            ).murren_name
          }}
        </div>
        <div class="murr-battle-scene__player-card_info">
          <div class="murr-battle-scene__player-card_info-stat-bar">
            <div>
              hp
              <span class="murr-battle-scene__player-card_info-stat-bar_hp"
                >27</span
              >
            </div>
            <div>
              mp
              <span class="murr-battle-scene__player-card_info-stat-bar_mp"
                >12</span
              >
            </div>
          </div>
        </div>
      </div>

      <transition name="el-zoom-in-center">
        <div class="activities-bar">
          <SkillItem
            v-for="(skill, index) in skills"
            :key="index"
            :skill="skill"
            @messageFromChild="murrenClickOnSkillBtn"
          />
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import "./scss/battle-scene.scss";
import { mapMutations } from "vuex";
import SkillItem from "./skill-item";
export default {
  name: "BattleScene",
  props: {
    context: {
      socket: WebSocket,
      murrens_in_ws_data: Array,
    },
  },

  data: () => ({
    privateBattleRoomSocket: null,
    murrensInBattleRoomData: null,
    shakeAnimationTrigger: false,
    shakeAnimationTrigger1: false,
    isAttack: [],
    skills: [
      {
        name: "dice",
        icon: "http://127.0.0.1:8000/media/murr_game/dice.png",
        gif: "http://127.0.0.1:8000/media/murr_game/dice.gif",
        cooldown: 25,
      },
      {
        name: "throw",
        icon: "http://127.0.0.1:8000/media/murr_game/throw.png",
        gif: "http://127.0.0.1:8000/media/murr_game/throw.gif",
        cooldown: 40,
      },
    ],
  }),
  mounted() {
    this.privateBattleRoomSocket = this.context.socket;
    this.murrensInBattleRoomData = this.context.murrens_in_ws_data;
    this.privateBattleRoomSocket.onmessage = (event) => {
      this.socketMessage = JSON.parse(event.data);
      // eslint-disable-next-line no-console
      console.log(this.socketMessage);

      if (this.socketMessage.gan === "murren_leave_battle_room") {
        this.oneOfMurrensLeaveBattleRoom(
          this.socketMessage.data.murren_leaver_name
        );
        this.privateBattleRoomSocket.close();
      }
    };
  },
  methods: {
    ...mapMutations({
      setShowCreateMurrBattleRoomBtn_mutations:
        "setShowCreateMurrBattleRoomBtn_mutations",
    }),
    murrenClickOnSkillBtn(skill) {
      this.isAttack.push(skill);

      if (skill.name === "dice") {
        this.shakeAnimationTrigger = true;
      }
      if (skill.name === "throw") {
        this.shakeAnimationTrigger1 = true;
      }

      setTimeout(() => {
        if (skill.name === "dice") {
          this.shakeAnimationTrigger = false;
        }
        if (skill.name === "throw") {
          this.shakeAnimationTrigger1 = false;
        }
        this.isAttack.shift();
      }, 500);
    },
    oneOfMurrensLeaveBattleRoom(murrenLeaverName) {
      // this.privateBattleRoomSocket.close()
      this.$confirm(`Муррен ${murrenLeaverName} вышел из комнаты`, "Беглец!", {
        confirmButtonText: "Ок",
        confirmButtonClass: "murr-button__danger bigBtn",
        cancelButtonText: "Ага",
        cancelButtonClass: "murr-button__primary bigBtn",
        customClass: "modal-main",
        type: "warning",
      })
        .then(() => {
          this.$router.push("/");
          this.$store.commit("modal/close");
          this.setShowCreateMurrBattleRoomBtn_mutations(true);
        })
        .catch(() => {
          this.$router.push("/");
          this.$store.commit("modal/close");
          this.setShowCreateMurrBattleRoomBtn_mutations(true);
        });
    },
  },

  beforeDestroy() {
    this.privateBattleRoomSocket.send(
      JSON.stringify({
        data: {
          murren_id: this.$store.getters.murrenId_getters,
          murren_name: this.$store.getters.murrenName_getters,
        },
        gan: "murren_leave_battle_room",
      })
    );
  },
  components: {
    SkillItem,
  },
};
</script>
