@import "fonts";
@import "m-from";

.murr-button {
  background-color: $main;
}

.murr-button > i {
  color: white;
}

.murr-button > span {
  color: white;
}

.murr-button:hover {
  background-color: $main-hover;
}

.murr-button:active,
.murr-button:focus {
  background-color: $main-active;
}
