$dark: #2A4350;
$dark-hover: #38596B;
$dark-active: #1a2931;

$success: #00e05e;
$success-hover: #0aff70;
$success-active: #00b84d;

$primary: #37a3d2;
$primary-hover: #59b3d9;
$primary-active: #2a8cb7;

$danger: #c1292e;
$danger-hover: #d8464b;
$danger-active: #a82428;

$warning: #ffbf00;
$warning-hover: #fde235;
$warning-active: #dec102;

$disabled: #c4c4c4;

$main: rgba(173, 0, 255, 0.9);
$main-hover: #c547ff;
$main-active: #9900e0;

$white: #f4fff8;
$white-light: rgba($white, 0.8);
$white-lighter: rgba($white, 0.5);

$dark-accent-primary: #1d4552;
$dark-accent-secondary: #1a2931;
$accent-color-main: #ad00ff;
$accent-color-main-hover: lighten($accent-color-main, 10%);
$accent-color-primary: #65a3ca;
$accent-color-primary-hover: lighten($accent-color-primary, 10%);

// Comments

$comment-body-padding: 5px 10px;
$comment-body-background-color: darken(#365566, 12%);
$comment-body-text-color: lighten($comment-body-background-color, 40%);

$comment-panel-padding: 5px 10px;
$comment-panel-background-color: darken($comment-body-background-color, 3%);
$comment-panel-text-color: lighten($comment-panel-background-color, 20%);
$comment-panel-delimiter-color: darken($comment-body-background-color, 5%);

$comment-status-offline: $danger;
$comment-status-online: $success;
$comment-status-border-color: $comment-panel-background-color;

$comment-children-line-color: lighten($comment-panel-background-color, 20%);
$comment-children-line-style: solid;

$comment-form-textarea-text: #759fb6;
$comment-form-textarea-background: #1a2931;
$comment-form-textarea-border-color: lighten(
  $comment-form-textarea-background,
  10%
);
$comment-form-textarea-border: 1px dashed $main;
$comment-form-button-background: #406477;
$comment-form-button-color: #759fb6;
