<template>
  <div>
    <div class="murr-comment__panel">
      <div class="murr-comment__author">
        <div class="murr-comment__photo">
          <img
            class="murr-comment__photo-img"
            :src="comment.author_avatar"
            :alt="comment.author_username"
          />
        </div>
      </div>
      <div class="murr-comment__author-name">
        {{ comment.author_username }}
      </div>
      <div class="murr-comment__date">
        · удален
      </div>
    </div>

    <div
      class="murr-comment__children-line-vertical"
      @click="onToggleTreeComment"
    ></div>

    <slot name="children"></slot>
  </div>
</template>

<script>
export default {
  name: "CommentDeleted",
  props: {
    item: {
      required: true,
      type: Object,
    },
    onToggleTreeComment: {
      required: true,
      type: Function,
    },
  },
  computed: {
    comment() {
      return this.item;
    },
  },
};
</script>
