@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
.prepare {
  opacity: 60%;
}
.prepare:hover {
  cursor: not-allowed;
}
.activities-bar {
  border-radius: 3px;
  position: absolute;
  top: -70px;
  z-index: 2;
  display: flex;
  width: 228px;
  height: 70px;
  align-items: center;
  justify-content: center;

  &_item {
    // TODO добавить внутреннюю тень при наведении
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 2px;

    &-top {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    &-attack {
      height: 100%;
      width: 100%;
      border: 1px solid $main;
      border-radius: 3px;
      background-color: $dark;

      &_counter {
        position: absolute;
        width: 100%;
        top: 15px;
        text-align: center;
        user-select: none;
      }
    }

    &-attack:hover {
      border: 2px solid $main-hover;
    }
    &-text {
      text-align: center;
      font-size: 18px;
    }
  }
  &_item:hover {
    cursor: pointer;
  }
  &_item:last-child {
  }
}
.activities-progress {
  transform: rotate(-90deg);
  width: 50px;
  height: 50px;
  border-radius: 3px;
  .el-progress-bar {
    width: 100%;
    border-radius: 3px;
    &__outer {
      border-radius: 3px;
      height: 50px !important;
      background-color: $dark;
    }
    &__inner {
      background-color: $white-lighter;
      height: 49px;
      border-radius: 3px;
    }
  }
}
